<!DOCTYPE html>
<html>
  <head>
    <% include ./static/partials/head.ejs %>
    <title>News Your Own Adventure</title>
  </head>
  <body>
    <% include ./static/partials/navbar.ejs %>
    <% include ./static/partials/messages.ejs %>
    <main>
      <section class="main-story">
        <a href="<%= mainStory.url %>">
          <h2 class="story-title"><%= mainStory.title %></h2>
          <h3><%= mainStory.description %></h3>
          <img src="<%= mainStory.urlToImage %>" alt="Image of <%= mainStory.title %>">
        </a>
        <% if (currentUser) { %>
          <iframe name="save-story" style="display:none;"></iframe>
          <form action="/story/save" method="post" target="save-story" class="save-form">
            <input type="hidden" name="story" value="<%= JSON.stringify(mainStory) %>">
            <input class="save-button" type="submit" value="Save">
          </form>
        <% } %>
      </section>

      <section class="story-cards">
        <% stories.forEach((story) => { %>
        <div class="story-card">
          <a href="<%= story.url %>">
            <img src="<%= story.urlToImage %>" alt="Image of <%= story.title %>" class="story-card-img">
            <h3 class="story-title"><%= story.title %></h3>
            <p class="story-description"><%= story.description %></p>
          </a>
          <% if (currentUser) { %>
            <iframe name="save-story" style="display:none;"></iframe>
            <form action="/story/save" method="post" target="save-story" class="save-form">
              <input type="hidden" name="story" value="<%= JSON.stringify(story) %>">
              <input class="save-button" type="submit" value="Save">
            </form>
          <% } %>
        </div>
        <% }) %>

      </section>

    </main>

    <% include ./static/partials/footer.ejs %>
    <% include ./static/partials/baseScripts.ejs %>
  </body>
</html>
